#history-list .approved-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#history-list .pending-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.approved-section .title {
  grid-column: span 2;
}

.data {
  grid-column: span 1;
}

@media only screen and (max-width: 1366px) {
  .data {
    grid-column: span 2;
  }
}
