:root {
  --sidebar-width: 260px;
}

.nearby-tag {
  color: red;
  font-size: 10px;
  position: absolute;
  right: 12px;
  top: 5px;
  animation: pulse 1s infinite;
  display: none;
}

.pending-notify.active {
  background: red;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  margin-left: -3px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.header-mobile {
  display: none !important;
  position: sticky;
  top: 0;
  z-index: 998;
  width: 100%;
  background: white;
  box-shadow: var(--shadow);
}

.sidebar-close {
  display: none;
}

/* SIDEBAR STYLES */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: var(--sidebar-width);
  height: 100vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  z-index: 999;
}

.sidebar-header {
  padding-top: 20px;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 70vh;
  overflow: auto;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border-radius: 0.3rem;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 7px;
  position: relative;
}

.nav-links a:hover,
.nav-links a.active {
  color: white;
  background-color: var(--primary-color);
}

.nav-links img {
  width: 22px;
}

.nav-links a:hover img,
.nav-links a.active img {
  filter: invert(1);
}

.admin-heading {
  margin-top: 20px !important;
}

/* PROFILE BLOCK AT BOTTOM */
.sidebar-profile {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.sidebar-profile p {
  line-height: 1em;
}

.sidebar-profile p .user-role {
  font-size: 10px;
  color: #797979;
}

.sidebar-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-profile .logout-btn {
  margin-left: auto;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  z-index: 1000;
  cursor: pointer;
}

/* MAIN CONTENT WRAPPER */
.main-content {
  margin-left: var(--sidebar-width);
  padding: 40px;
}

/* Page Header */
.page-heading {
  gap: 20px;
  margin-bottom: 25px;
}

.page-heading a {
  align-self: start;
}

/* TABLE CONTAINER */
.table-container {
  overflow-x: auto;
}

.table-container table {
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}

.table-container table th {
  text-align: left;
}

.table-container table td:not(:first-child),
.table-container table th:not(:first-child) {
  text-align: center;
  vertical-align: middle;
}

.table-container table td,
.table-container table th {
  border: 1px solid #dee2e6;
  padding: 10px 20px;
  white-space: nowrap;
}

.table-container .contact {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-container .contact a:hover {
  color: var(--primary-color);
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .main-content {
    margin-left: 0;
  }
  .header-mobile {
    display: flex !important;
    background: white;
    padding: 20px 40px;
  }
  .header-mobile .row {
    align-items: center;
    justify-content: space-between;
  }
  .header-mobile .ham,
  .sidebar-close {
    max-width: 30px;
  }
  .sidebar.open {
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    padding: 1rem;
  }
  .header-mobile {
    padding: 15px;
  }
  .header-mobile .ham,
  .sidebar-close {
    max-width: 28px;
  }
}
